@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(../images/background-image.jpg);
    background-size: contain;
}

/* Home Card */
#home-card {
    width: 60rem;
    margin-left: 10rem;
}

#home-card-row {
    width: 60rem;
}