@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(../images/background-image.jpg);
    background-size: contain;
}

/* Create Card */
#create-card {
    margin-left: 10rem;
    width: 60rem;
}

#create-card-row {
    width: 60rem;
}